<div class="container edit-user">
    <div class="row question-row">
        <div class="col-md-10 content-sec offset-md-1">
                <div class="user-heading">
                        <h3>Edit User</h3>
                    </div>
                <div class="user-details-tbl" *ngIf="userManagementService.resetPasswordDetails.allUser && userManagementService.resetPasswordDetails.allUser.length">
                    <table id="user-history" class="table table-bordered" cellspacing="0" width="100%" style="text-align: center;">
                        <thead>
                            <tr>
                                <th class="t-heading sl-no">Sl. No.</th>
                                <th class="t-heading">Full Name</th>
                                <th class="t-heading">Username</th>
                                <th class="t-heading">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tbl of userManagementService.resetPasswordDetails.allUser; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{tbl.name}}</td>
                                <td>{{tbl.userName}}</td>                                
                                <td>                                    
                                    <button type="button" class="btn reset-pass-btn" (click)="editUserDetails(tbl)"><i class="material-icons" matTooltip="Edit User" aria-label="Button that displays a tooltip when focused or hovered over">border_color</i></button>
                                    <button *ngIf="tbl.enable && !(isAdmin(tbl.roleName))" type="button" class="btn reset-pass-btn" (click)="disableUser(tbl.userId)"><i class="material-icons" matTooltip="Disable" aria-label="Button that displays a tooltip when focused or hovered over">block</i></button>
                                    <button *ngIf="!tbl.enable && !(isAdmin(tbl.roleName))" type="button" class="btn reset-pass-btn" (click)="enableUser(tbl.userId)"><i class="material-icons" matTooltip="Enable" aria-label="Button that displays a tooltip when focused or hovered over"> remove_circle_outline </i></button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="userManagementService.resetPasswordDetails.allUser && !userManagementService.resetPasswordDetails.allUser.length" class="no-user">No user available</div>

        </div>
    </div>
</div>



    <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-error" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Success</p>
                    </div>
    
                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <p>Password has been successfully reset.</p>
                        </div>
                        <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Ok</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
    </div>
    