<div class="container cap-body-content">
    <div class="row">
        <div class="col">
          <h4 class="cap-dashboard-title">Sitemap</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 txt">

            <ul class="siteMapData">
              <li>Login</li>
              <ul>
                <li><a class="nav-link" href="data-entry">Data Entry</a></li>
                <li><a class="nav-link" href="report">Report</a></li>
                <li><a class="nav-link" href="dashboard">Dashboard</a></li>
                <li><a class="nav-link" routerLink="/change-password">Change Password</a></li>
              </ul>
              <li><a class="nav-link" href="terms-and-conditions">Terms of Use</a></li>
              <li><a class="nav-link" href="privacy-policy">Privacy Policy</a></li>
              <li><a class="nav-link" href="disclaimer">Disclaimer</a></li>
              <li>Sitemap</li>
            </ul>
            </div>
         </div>
     </div>
</div>