/* .main-content{
    min-height: 452px;
    height: 100%;
}
@media screen and (max-width: 1024px){
    .main-content{
        min-height: 356px !important;
    }
}
@media screen and (max-width: 991px){
    .main-content{
        min-height: 323px !important;
    }
}
@media screen and (max-width: 767px){
    .main-content{
        min-height: 298px !important;
    }
}
@media screen and (max-width: 608px){
    .main-content{
        min-height: 393px !important;
    }
} */
/* @media screen and (max-width: 480px){
    .main-content{
        min-height: 
        
    }
} */