 <footer class="footer-contain " id="foot">
    <div class="container-fluid">
      <div class="row">
        <ul class="col-lg-6 col-md-6 col-3 left-text">
          <li><a href="http://www.ipeglobal.com/" target="_blank">
          <img src="assets/ipe.png" alt="ipe-logo"></a></li>
        </ul>
      
        <div class="col-lg-6 col-md-6 col-9 footer-ul">
          <ul class="footer-links">
            <li class="nav-item" routerLink="/terms-and-conditions">
              <a class="nav-link">Terms of Use</a>
            </li>
            <li class="nav-item" routerLink="/privacy-policy">
              <a class="nav-link">Privacy Policy</a>
            </li>
            <li class="nav-item" routerLink="/disclaimer">
              <a class="nav-link">Disclaimer</a>
            </li>
            <li class="nav-item" routerLink="/sitemap">
              <a class="nav-link">Sitemap</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>