      <div class="container cap-body-content">
          <div class="row">
              <div class="col">
                <h4 class="cap-dashboard-title">Forgot Password</h4>
              </div>
            </div>
          <div class="col-md-10 offset-md-1">   
                  <form class="all-fields row" #f="ngForm" (submit)="f.valid ?submitForm(f):''">

                      <div class="col-md-6 marg-top">
                          <label for="usr">Email Id<span style="color:red; font-weight:500;">*</span> :</label>
                          <input name="email" id="emailID" type="email" class="form-control" [(ngModel)]="credentials.emailid" [disabled]="showSucessMesg" placeholder="Enter Email Id">  
                      </div>

                      <div class="col-md-6 otp-btn-gap marg-top">
                        <button type="button" class="btn gt-otp"  *ngIf="!showFields && !showBtn" (click)="sendRequest(credentials.emailid);">Get OTP</button></div>

                        <div class="col-md-12 valid-err">   
                            <small class="succ" id="emailErr" style="color: green; font-weight: 500;" *ngIf="showSucessMesg">{{successMesg}}</small>                        
                            <small class="err" id="emailErr" style="color: red; font-weight: 500;" *ngIf="showErrMesg">{{errorMesg}}</small>    
                            <small id="emailErr1" style="color:red; font-weight: 500;"></small>    
                           </div>
                      
                      <div class=" col-md-6 marg-top">
                          <label for="usr">Enter OTP<span style="color:red; font-weight:500;">*</span> :</label>
                          <input name="otp" id="otp" type="password" class="form-control" placeholder="Enter OTP" [(ngModel)]="credentials.otp" [disabled]="!show || showOtpSucessMesg" maxlength="4" style="margin-right: 5px;">
                          
                      </div>
                      <div class="col-md-6 otp-btn-gap marg-top">                          
                              <button type="button" class="btn errorOk" [disabled]="!show || showOtpSucessMesg" (click)="checkOTP(credentials.emailid, credentials.otp)">Verify</button>
                              <button type="button" class="btn btn-default resend-otp" [disabled]="!show || showOtpSucessMesg" (click)="sendRequest(credentials.emailid);">Resend OTP</button>
                      </div>
                      <div class="col-md-12 valid-err">   
                          <small id="otpSec" style="color: green; font-weight: 500;" *ngIf="showOtpSucessImg">{{otpSuccessMesg}}</small>                        
                          <small id="otpSec" style="color: red; font-weight: 500;" *ngIf="showOtpErrImg">{{otpErrorMesg}}</small>    
                          <small id="otpSec1" style="color:red; font-weight: 500;"></small>   
                      </div>  
                      <div class="col-md-6 marg-top">
                          <label for="usr">New Password<span style="color:red; font-weight:500;">*</span> :</label>
                          <input type="password" class="form-control" name="password" placeholder="Enter New Password" [(ngModel)]="credentials.newPassword" (keyup)="newPassError()" [disabled]="!showFields">  
                      </div>
                       
                      <div class="col-md-6 marg-top">
                          <label for="usr">Confirm Password<span style="color:red; font-weight:500;">*</span> :</label>                          
                          <input type="password" class="form-control" name="confirmPassword" placeholder="Enter Confirm Password" (keyup)="confirmPassError()" [(ngModel)]="credentials.confirmPassword" [disabled]="!showFields">
                      </div>

                      <div class="col-md-6 valid-err">                        
                          <small id="newPasserror" style="color: red; font-weight: 500;"></small>    
                        </div>

                      <div class="col-md-6 offset-md-6 valid-err">         
                          <small id="confirmPasserror" style="color: red; font-weight: 500;"></small>   
                          <small *ngIf="credentials.confirmPassword.length&&credentials.newPassword!=credentials.confirmPassword" style="color: red; font-weight: 500;">
                             New password and Confirm password does not match.
                          </small>                                 
                        </div>
                      <div class="col-md-12 sub-btn marg-top">             
                          
                          <button type="button" class="btn" [disabled]="!showFields"  *ngIf="showBtn"  (click)="sendAllData(credentials.emailid, credentials.otp, credentials.newPassword, credentials.confirmPassword);">Submit</button>
                      </div>
                  </form>
              </div>
          </div>

      <div id="passNotMatch" class="confrirmation-modal modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1">
          <div class="modal-dialog">      
              <div class="modal-content">
                  <div class="modal-body warnbody text-center">
                      <div class="infoheade"> Error </div>                             
                      <div class="modal-body">
                          <div class="text-center">
                              <i class="fa fa-close fa-4x animated rotateIn"></i>
                              <p>{{validationMsg}}</p>
                          </div>
                          <button type="button" class="btn btn-default errorOk" (click)="pageRefer()">Ok</button>              
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
        <!-- <div id="successMatch" class="confrirmation-modal modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1">
            <div class="modal-dialog">      
                <div class="modal-content">
                    <div class="modal-body warnbody text-center">
                        <div class="infoheads"> Success </div>                             
                        <div class="modal-body">
                            <div class="text-center">
                                <i class="fa fa-check fa-4x animated rotateIn"></i>
                                <p>{{validationMsg}}</p>
                            </div>
                            <button type="button" class="btn btn-default errorOk" (click)="pageRefer()">Ok</button>              
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> -->
        
    <div class="confrirmation-modal modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <div class="modal-content">

              <div class="modal-header data-error">
                 <p class="heading lead">Successs</p>
              </div>
              <div class="modal-body">
                <div class="text-center">
                  <p>{{validationMsg}}</p>
                </div>
                <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal" (click)="pageRefer()">Ok</button> 
              </div>
            </div>
        </div>
    </div>