  
  
 .cap-dashboard-title{
  margin-top: 5px;
  color: #d85c54;
}
.cap-dashboard-title::after{
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: grey;
    margin-top: 5px;
}

.cap-body-content{
  margin-top: 80px;
  margin-bottom: 10px;
}

  // .dashname{
  //   position: relative;
  //   right: 24px;
  // } 

  .user-heading  h3{
    font-size: 20px;
    color: #d85c54;
  }
  .btn.user-submit {
    background-color: #333;
    border-radius: 0;
    width: 120px;
    color: #FFF;
  }
  #passNotMatch .modal-header, #successMatch .modal-header{
    height: 39px;
    padding: 3px 14px; 
    justify-content: center;
    background-color: #3c763d;
  }

  p.heading.lead {
    font-weight: bold;
    color: #ffffff;
  }
  .user-man-btn{
    margin-top: 10px;
  }
  .modal-btn {
    border-radius: 0;
    background-color: #333;
  }
  input.nospinner[type=number]::-webkit-inner-spin-button, 
  input.nospinner[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .material-error{
    color: #f44336;
    font-size: 75%;
    margin-top: -18px;
    margin-bottom: 12px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  .selection-fields{
    display: inline-grid;
  }
.all-fields{
  padding-top: 18px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.selection-fields label{
  border: 0px solid black !important;
}
}


  /** media query starts here **/
  @media(max-width: 767px){
    .left-list{
      width: 50%;
      z-index: 100;
      padding-top: 40px;
    }
  }
  @media screen and (max-width: 608px){
    .left-marg{
      margin-bottom: 166px;
      margin-right: 0px;
      margin-left: 55px;
    }
  }
  @media screen and (max-width: 560px){
    .left-marg{
      margin-left: 0px;
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: 480px){
    .left-marg{
      margin-top: 77px;
      margin-bottom: 46px;
      margin-left: 25px;
    }
    .cap-body-content{
      margin-left: 25px;
      margin-bottom: 68px;
    }
  }
  @media(max-width: 360px){
    .left-marg{
      margin-top: 120px;
      margin-bottom: 3px; 
    }
    .cap-body-content{
      margin-top: 75px;
      margin-left: 20px;
      margin-bottom: 49px;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .mat-form-field{
      display: block;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .content-sec :hover{
      display: contents;
    }
  }

