
<div class="container-fluid cap-dashboard-container left-marg">
    <div class="row justify-content-between cap-dashboard-dropdown-row">
        <div class="col dashname">
          <h4 class="cap-dashboard-title"></h4>
        </div>
      </div>
<div class="container">
  <h2>Error Modal</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click</button>
  <button type="button" class="btn  btn-info btn-lg alert-success " data-toggle="modal" data-target="#mySuccess">Success</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header error-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Error</h4>
        </div>
        <div class="modal-body">
            <p *ngFor="let line of str.split(';')">{{line}}</p>
        </div>
       
        <div class="modal-footer custom-footer">
            <button type="button" (click)="expFile(str.split(';'))" class="btn btn-default modal-btn">Download</button>
          <button type="button" class="btn btn-default modal-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
  
  <div class="modal fade" id="mySuccess" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header success-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title ">Success</h4>
        </div>
        <div class="modal-body">
           Success message 
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
</div>
</div>
