<div>
  <ul class="data-heads">
    <li class="data-head-list" *ngIf="app.checkUserAuthorization(['USER_MGMT_ALL_API']) && showUserManagementPage" [ngClass]="{'active': router.url=='/user-management'}">
      <span class="list-span"><a class="active" routerLink="/user-management" >Create New User</a></span>
    </li>     
    <li class="data-head-list" *ngIf="app.checkUserAuthorization(['USER_MGMT_ALL_API']) && showUserManagementPage" [ngClass]="{'active': router.url=='/edit-user-details' || router.url=='/update-user'}">
      <span class="list-span"><a routerLink="/edit-user-details">Edit User</a></span>
    </li>         
    <li class="data-head-list" [ngClass]="{'active': router.url=='/change-password'}" *ngIf="showChangePasswordPage">
      <span class="list-span"><a routerLink="/change-password">Change Password</a></span>
    </li>      
  </ul>
</div>


